= form_for @cms_block do |f|
  - if @cms_block.errors.any?
    #error_explanation
      %h2= "#{pluralize(@cms_block.errors.count, "error")} prohibited this cms_block from being saved:"
      %ul
        - @cms_block.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :content
    = f.text_field :content
  .actions
    = f.submit 'Save'
