%h1 Listing cms_blocks

%table.table
  %thead
    %tr
      %th Name
      %th
      %th
      %th
      
  %tbody
    - @cms_blocks.each do |cms_block|
      %tr
        %td= link_to cms_block.name, cms_block 
        %td= cms_block.content[0,100] + (cms_block.content.length > 100 ? "..." : "")
        %td= link_to 'Edit', edit_cms_block_path(cms_block)
        %td= link_to 'Destroy', cms_block, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Cms block', new_cms_block_path
