= bootstrap_form_for @competition do |f|
  - if @competition.errors.any?
    #error_explanation
      %h2= "#{pluralize(@competition.errors.count, "error")} prohibited this competition from being saved:"
      %ul
        - @competition.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.number_field :order_number
  .field
    = f.text_field :code
  .field
    = f.text_field :name
  .field
    = f.select :type, ['single run', 'two runs combined'], { prompt: "Select a type" } #, :name, :name, { class: "form-control" }
  .actions
    = f.submit 'Save'
