-# competition: competition, competitor: competitor, day: 1
-if user_signed_in? and current_user.admin? and (day != 0 or competition.type != "two runs combined")
  -if active_list
    .form-group
      -if competition.state.to_sym == :active
        -unless competition.result competitor, day
          = link_to("/admin/competitions/#{competition.id}/start/#{competitor[:id]}/#{day}", :method => :post) do
            %button.btn.btn-default.btn-sm start
          -if competition.can_start_plus_one!(competitor, day)
            = link_to("/admin/competitions/#{competition.id}/start1/#{competitor[:id]}/#{day}", :method => :post) do
              %button.btn.btn-default.btn-sm start + 1
          = link_to("/admin/competitions/#{competition.id}/mark_dns/#{competitor[:id]}/#{day}", :method => :post) do
            %button.btn.btn-default.btn-sm dns!
        -if competition.result(competitor, day) == :started
          = link_to("/admin/competitions/#{competition.id}/mark_complete/#{competitor[:id]}/#{day}", :method => :post) do
            %button.btn.btn-default.btn-sm finish!
          = link_to("/admin/competitions/#{competition.id}/mark_dnf/#{competitor[:id]}/#{day}", :method => :post) do
            %button.btn.btn-default.btn-sm dnf
      =form_tag("/admin/competitions/#{competition.id}/update_result/#{competitor[:id]}/#{day}", method: "post", class: "form form-inline") do 
        =text_field_tag "new_status", competition.result(competitor, day), {class: "form-control input-sm"}
        %button.btn.btn-default.btn-sm Update
  -else
    =form_tag("/admin/competitions/#{competition.id}/update_result/#{competitor[:id]}/#{day}", method: "post", class: "form form-inline") do 
      =text_field_tag "new_status", competition.result(competitor, day), {class: "form-control input-sm"}
      %button.btn.btn-default.btn-sm Update
%p
  %span=competition.result competitor, day
  -if (competition.result(competitor, day) == :started) and (t=competitor[:result][day-1][:start_time])
    %span=t.strftime "%T.%1L"
