%h1 Listing competitions

%p
  %span Total competitors:
  %strong=@total_competitors

.row(style="font-weight: bold")
  .col-xs-3.col-sm-1 Order
  .col-xs-3.col-sm-2 Code
  .col-xs-3.col-sm-4 Name
  .col-xs-3.col-sm-3 Type
- @competitions.each do |competition|
  .row(style="border-top: solid 1px #ccc")
    .col-xs-3.col-sm-1= competition.order_number
    .col-xs-3.col-sm-2= competition.code
    .col-xs-3.col-sm-4= competition.name
    .col-xs-3.col-sm-2= competition.type[0,12]
    .hidden-xs.col-sm-3
      = link_to 'Show', competition
      = link_to 'Edit', edit_competition_path(competition)
      = link_to 'Destroy', competition, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

#span(style="font-weight: bold")= link_to 'New Competition', new_competition_path

%h2 Current startlists

- @competitions.each do |competition|
  -unless competition[:list].nil?
    %h3 #{competition.code} - #{competition.name}
    %p
      %span Competitors:
      %strong=competition[:list].length
    .row(style="font-weight: bold")
      .col-xs-3.col-sm-1 Number
      .col-xs-3.col-sm-2 Name
      .col-xs-3.col-sm-4 Club
      .col-xs-3.col-sm-5 Dogs
    - competition[:list].each do |competitor|
      .row(style="border-top: solid 1px #ccc")
        .col-xs-3.col-sm-1= competitor[:num]
        .col-xs-3.col-sm-2= competitor[:name]
        .col-xs-3.col-sm-4= competitor[:club]
        .col-xs-3.col-sm-5= competitor[:dogs]

