%h1 Listing competitions

=form_tag("/admin/competitions/numbers", method: "post") do 

  -if user_signed_in? and current_user.admin?
    = link_to("/admin/competitions/organize", :method => :post) do
      %button.btn.btn-default Reorganize competitions
    = submit_tag "Update start numbers", {class: "btn btn-default"}

  %p
    %span Total competitors:
    %strong=@total_competitors

  .row(style="font-weight: bold")
    -if user_signed_in? and current_user.admin?
      .col-xs-3.col-sm-1 Order
    .col-xs-3.col-sm-2 Code
    .col-xs-3.col-sm-3 Name
    .col-xs-3.col-sm-2 Type
    .col-xs-3.col-sm-2 State
  - @competitions.each do |competition|
    .row(style="border-top: solid 1px #ccc")
      -if user_signed_in? and current_user.admin?
        .col-xs-3.col-sm-1= competition.order_number
      .col-xs-3.col-sm-2= link_to competition.code, edit_competition_path(competition)
      .col-xs-3.col-sm-3= competition.name
      .col-xs-3.col-sm-2= competition.type[0,12]
      .col-xs-3.col-sm-2= competition.state or "open"
      -if user_signed_in? and current_user.admin?
        .hidden-xs.col-sm-2
          -if competition.next_state
            = link_to "Change to #{competition.next_state}", "/admin/competitions/#{competition._id}/next_state", :method => :post
          = link_to 'Destroy', competition, :method => :delete, :data => { :confirm => 'Are you sure?' }

  -if user_signed_in? and current_user.admin?
    %br
    #span(style="font-weight: bold")= link_to 'New Competition', new_competition_path

  %h2 Current startlists

  - @competitions.each do |competition|
    -unless competition[:list].nil?
      %h3 #{competition.code} - #{competition.name}
      %p
        %span Competitors:
        %strong=competition[:list].length
      .row(style="font-weight: bold")
        .col-xs-3.col-sm-1 Number
        .col-xs-3.col-sm-2 Name
        .col-xs-3.col-sm-4 Club
        .col-xs-3.col-sm-5 Dogs
      - competition[:list].sort_by{|x| x[:num]}.each do |competitor|
        .row(style="border-top: solid 1px #ccc")
          .col-xs-3.col-sm-1
            -if user_signed_in? and current_user.admin?
              .form-group
                =number_field_tag "number$#{competition.code}$#{competitor[:id]}", competitor[:num], {class: "form-control"}
            -else
              = competitor[:num]
          .col-xs-3.col-sm-2= competitor[:name].titleize
          .col-xs-3.col-sm-4= competitor[:club]
          .col-xs-3.col-sm-5= competitor[:dogs]

