%p#notice= notice

%p
  %b Code:
  = @competition.code
%p
  %b Name:
  = @competition.name
%p
  %b Type:
  = @competition.type

= link_to 'Edit', edit_competition_path(@competition)
\|
= link_to 'Back', competitions_path
