= bootstrap_form_for @user do |f|
  - if @user.errors.any?
    #error_explanation.alert.alert-danger
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field= f.text_field :name
  .field= f.text_field :email
  .field= f.password_field :password
  .field= f.password_field :password_confirmation
  %p Leave both password and password confirmation empty if you do not want to change them
  .field= f.text_field :club
  .field= f.text_field :dogs
  .field= f.text_field :competitions
  %p Use comma to separate, you can use both old ("Veteraani Miehet A") and new ("SM1 veteraani A") codes, they will be translated to new when generating a list.
  .field= f.check_box :admin
  .actions= f.submit 'Save'
