%h1 Listing users

%table.table.table-striped
  %tr
    %th Name
    %th Email
    %th Club
    %th Dogs
    %th Applied for
    %th Receipt
    %th
  - @users.each do |user|
    %tr
      %td= link_to (user['name'] or "no name"), "/admin/users/#{user['_id']}"
      %td= user['email']
      %td= user['club']
      %td= user['dogs']
      %td= user['races'].join(", ") if user['races']
      %td= (link_to 'download receipt', "/admin/users/#{user['_id']}/receipt") if user['receipt_file']
      %td
        -if user['admin']
          %strong= "admin!"
        -else
          =link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }
    -#
      %td= user.password
      %td= user.password_confirmation
      %td= user.admin
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

-# %br

-# = link_to 'New User', new_user_path
